<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
  <link rel="stylesheet" href="css/style1.css">
  <!-- Fontawesome CDN Link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/elective.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<h1 class="text-center" style="color: white;">Electives Present for 6<sup>th</sup> Semester students</h1>

<div class="container md">
  <h2 class="text-start">Elective II</h2>
  <div class="row m-2 p-2">
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Data Mining</h2>
        <p>CSE19045</p>
        <a href="https://en.wikipedia.org/wiki/Data_Mining" target="_blank">VIEW NOW</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img
          src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Large Scale Data Processing</h2>
        <p>CSE19411</p>
        <a href="https://en.wikipedia.org/wiki/Data_processing" target="_blank">VIEW NOW</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Social and Information Networks</h2>
        <p>CSE19421</p>
        <a href="https://en.wikipedia.org/wiki/Social_network" target="_blank">VIEW NOW</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Natural Language Processing</h2>
        <p>CSE19471</p>
        <a href="https://en.wikipedia.org/wiki/Natural_language_processing" target="_blank">VIEW NOW</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Machine Learning</h2>
        <p>CSE19345</p>
        <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank">VIEW NOW</a>
      </div>
    </div>

  </div>
</div>

<div class="container md">
  <h2 class="text-start">Elective III</h2>
  <div class="row m-2 p-2">
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Ethical Hacking </h2>
        <p>CSE19336</p>
        <a href="https://en.wikiversity.org/wiki/Computer_Security/Ethical_Hacking" target="_blank">VIEW NOW</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img
          src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Biometrics</h2>
        <p>CSE19367</p>
        <a href="https://en.wikipedia.org/wiki/Biometrics" target="_blank">VIEW NOW</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Internet of things</h2>
        <p>CSE19397</p>
        <a href="https://en.wikipedia.org/wiki/Internet_of_things" target="_blank">VIEW NOW</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Cloud Computing</h2>
        <p>CSE19445</p>
        <a href="https://en.wikipedia.org/wiki/Cloud_computing" target="_blank">VIEW NOW</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="imgBx">
        <img src="https://i.postimg.cc/44PhfYvw/Pngtree-blue-circle-earth-technology-code-3243365.png"
          class="card-img-top el" alt="...">
      </div>
      <div class="contentBx">
        <h2>Pattern Matching</h2>
        <p>CSE19045</p>
        <a href="https://en.wikipedia.org/wiki/Pattern_Matching" target="_blank">VIEW NOW</a>
      </div>
    </div>
  </div>
</div>


<form action="https://celebrated-pika-13e0e6.netlify.app/" method="GET">
  <div class="text-center m-2">
    <button type="submit" class="btn btn-outline-success btn-lg w-75">Elective Changes</button>
  </div>
</form>

<form action="http://localhost:4000/elechome" method="GET">
  <div class="text-center m-2">
    <button type="submit" class="btn btn-outline-success btn-lg w-75">Dashboard</button>
  </div>
</form>

<form action="https://sridhar-5.github.io/amrita-ai-tag-website/" method="GET">
  <div class="text-center m-2">
    <button type="submit" class="btn btn-outline-success btn-lg w-75">Faculty Details</button>
  </div>
</form>